.container{
  display: flex;
  flex-wrap:wrap;
  padding: 120px;
  background: grey;
}
.section{
  display:flex;
  flex-basis: 100%;
  background: white;
  flex-wrap: wrap;
  justify-content: space-around;

}
img{
  border-radius: 600px;
  width: 150px;
  height: 150px;
  margin-top: 75px;
}
.theBasics{
  width:30%;
  padding-left: 10px;
  padding-bottom: 10px;

}
.me{
  border-right: solid 1px grey;
}
.bio{
  width: 50%;
  padding-right:10px;

}
.titleCard{
  text-align: center;
  background-color: black;
  color:white;
  flex-basis: 100%;
    position: relative;
    padding: 8px 8px 32px 8px;
    background: black;
}

.titleCard:after {
    background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px; /*https://stackoverflow.com/questions/38352493/how-to-make-css-zig-zag-borders*/
}
h1{
  font-family: 'Zilla Slab', serif;
  font-size: 3em;
  font-weight: lighter;
}
h2{
  font-family: 'Zilla Slab', serif;
  font-weight: bolder;
}
dt{
  color: green;
}
