.container{
  display: flex;
  flex-wrap:wrap;
  padding: 120px;
}
.section{
  display:flex;
  flex-basis: 100%;

}
img{
  border-radius: 600px;
  width: 150px;
  height: 150px;
}
.theBasics{
  width:30%;
}
.bio{
  width: 30%;
}
.titleCard{
  text-align: center;
  background-color: black;
  color:white;
  flex-basis: 80%;
}
